<a href="https://colab.research.google.com/github/renankemiya/estacio_aula/blob/main/Aula_Est%C3%A1cio_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Prática 01: Configuração do Ambiente**

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget -q https://downloads.apache.org/spark/spark-3.4.1/spark-3.4.1-bin-hadoop3.tgz

In [ ]:
!tar xf spark-3.4.1-bin-hadoop3.tgz

In [ ]:
!pip install -q findspark

In [ ]:
!pip install -q pyspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.4.1-bin-hadoop3"

# **Prática 2: Começando a trabalhar com o Spark**

**Testar se o pacote findspark for instalado corretamente**

**Importação de dados**

In [ ]:
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
dataset= spark.read.csv('/content/sample_data/california_housing_test.csv',inferSchema=True, header =True)

In [ ]:
dataset.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
dataset.head()

Row(longitude=-122.05, latitude=37.37, housing_median_age=27.0, total_rooms=3885.0, total_bedrooms=661.0, population=1537.0, households=606.0, median_income=6.6085, median_house_value=344700.0)

In [ ]:
spark.stop()

# **Convertendo Pandas DataFrame para Spark DataFrame**

In [36]:
import pandas as pd
import numpy as np
media = 0
desvio_padrao=0.1
pd_temporario = pd.DataFrame(np.random.normal(media,desvio_padrao,100))
spark_temporario = spark.createDataFrame(pd_temporario)
print(spark.catalog.listTables())
spark_temporario.createOrReplaceTempView("nova_tabela_temporaria")
print(spark.catalog.listTables())
spark.stop()

[Table(name='tabela_temporaria', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]
[Table(name='nova_tabela_temporaria', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True), Table(name='tabela_temporaria', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

# **Prática 01: Práticas com MapReduce**

**Exemplo 01**

In [37]:
import numpy as np

In [38]:
from pyspark import SparkContext
spark_contexto = SparkContext() # Instanciar um SparkContext

In [41]:
vetor = np.array([10, 20, 30, 40, 50])

In [42]:
paralelo = spark_contexto.parallelize(vetor)

In [43]:
mapa = paralelo.map(lambda x : x**2+x)

In [44]:
mapa.collect()

[110, 420, 930, 1640, 2550]

**Exemplo 02**

In [50]:
paralelo = spark_contexto.parallelize(["distribuida", "distribuida", "spark", "rdd", "spark", "spark"])

In [51]:
funcao_lambda = lambda x:(x,1)

In [52]:
from operator import add
mapa = paralelo.map(funcao_lambda).reduceByKey(add).collect()

In [53]:
for(w, c) in mapa:
    print("{}: {}".format(w, c))

distribuida: 2
spark: 3
rdd: 1

In [54]:
spark_contexto.stop()

# **Prática 02: Práticas com MapReduce**

In [55]:
from pyspark import SparkContext
spark_contexto = SparkContext()

In [56]:
lista = [1, 2, 3, 4, 5, 3]
lista_rdd = spark_contexto.parallelize(lista)

In [57]:
lista_rdd.count()

6

In [58]:
par_ordenado = lambda numero: (numero, numero*10)

In [59]:
lista_rdd.flatMap(par_ordenado).collect()

[1, 10, 2, 20, 3, 30, 4, 40, 5, 50, 3, 30]

In [60]:
lista_rdd.map(par_ordenado).collect()

[(1, 10), (2, 20), (3, 30), (4, 40), (5, 50), (3, 30)]

In [61]:
spark_contexto.stop()